body {
  font-family: sans-serif;
  background-color: hsl(206, 68%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}

.bg-dark {
  color: #fff;
  background-color: rgb(44, 36, 36);
}

.nav ul {
  margin: 0;
  padding-top: 10px;
}
.nav li {
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2em 3em;
  outline: 1px solid black;
}

.main {
  margin-top: 2em;
  padding: 5em 3em;
  bottom: auto;
}

.footer {
  margin-top: 2em;

  padding: 4em 3em;
  width: 100%;
  outline: 1px solid black;
}

button {
  border-radius: 0.6em;
  padding: 0.7em;
  cursor: pointer;
  /* outline: 1px solid green; */
}
